@using Lagerverwaltung.Models
@model Lagerverwaltung.Models.Virtuell.AuftragVM

@{
    ViewData["Title"] = "Auftrag erstellen oder bearbeiten";
}

<form asp-controller="Auftrag" asp-action="ExecuteCreateOrEditAuftrag" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            <h5>Auftrag bearbeiten oder neu erstellen</h5>
        </div>

        <div class="card-body">

            <input asp-for="auftrag.Id" type="number" hidden/>

            <div class="row">
                
                <div class="col">
                    <label>Bemerkungen</label>
                    <input class="form-control" asp-for="auftrag.Bemerkungen" type="text" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label>Kunde</label>
                    <select class="form-select" asp-items="Model.selectKundenList" asp-for="auftrag.KundeID">
                    </select> 
                </div>
            </div>
            
        </div>

        <div class="card-footer">
            <button class="btn btn-primary" type="submit">Speichern</button>
            <button class="btn btn-danger" asp-controller="Auftrag" asp-action="BackToAuftrag">Abbrechen</button>
        </div>

    </div>   
</form>
