@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <table>
        <tr>
            <td><a class="btn btn-primary m-1" asp-area="" asp-controller="Artikel" asp-action="Index">Artikel</a></td>
        </tr>
    </table>
</div>