@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <table>
        <tr>
            <td><a class="btn btn-primary m-1" asp-area="" asp-controller="Artikel" asp-action="Index">Artikel</a></td>
            <td><a class="btn btn-primary m-1" asp-area="" asp-controller="Kategorien" asp-action="Index">Kategorien</a></td>
            <td><a class="btn btn-primary m-1" asp-area="" asp-controller="Lagerort" asp-action="Index">Lagerorte</a></td>
            <td><a class="btn btn-primary m-1" asp-area="" asp-controller="Lagerplatz" asp-action="Index">Lagerplätze</a></td>
        </tr>
        <tr>
            <td><a class="btn btn-primary m-1" asp-area="" asp-controller="Kunde" asp-action="Index">Kunden</a></td>
        </tr>
        <tr>
            <td><a class="btn btn-primary m-1" asp-area="" asp-controller="Auftrag" asp-action="Index">Aufträge</a></td>
            <td><a class="btn btn-primary m-1" asp-area="" asp-controller="Position" asp-action="Index">Auftrags Positionen</a></td>
        </tr>
        <tr>
            <td><a class="btn btn-primary m-1" asp-area="" asp-controller="WarenEinAusgang" asp-action="Index">Waren Ein- / Ausgang</a></td>
        </tr>
    </table>
</div>